# TIN - Porównanie wybranych implementacji protokołów TCP i QUIC
# Utworzono: 05.05.2021
# Autor: Piotr Sawicki

[submodule "msquic_impl/msquic"]
	path = msquic_impl/msquic
	url = https://github.com/microsoft/msquic
[submodule "quic/mvfst"]
	path = quic/mvfst
	url = https://github.com/facebookincubator/mvfst
[submodule "picoquic_impl/picotls"]
	path = picoquic_impl/picotls
	url = https://github.com/h2o/picotls.git
[submodule "picoquic_impl/picoquic"]
	path = picoquic_impl/picoquic
	url = https://github.com/private-octopus/picoquic.git
